.header{
    text-align: center;
}
.search{
    margin-top: 100px;
    margin-left: 400px;
    margin-bottom: 10px;
}
#meal_name{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}
#meal_name img{
    width: 300px;
}
#meal_detail img{
    width: 300px;
    
}
#meal_detail {
    margin-left: 40%;
}
.meal{
    border: ghostwhite 1px solid;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
}
#warning{
    font-size: 40px;
}
